In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\estudiantes\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\estudiantes\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\estudiantes\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\estudiantes\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\estudiantes\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\estudiantes\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
import pandas as pd

# crear una serie

Arreglo unidimensional de datos

In [4]:
miSerie= pd.Series([34,56,78,23,34])
miSerie

0    34
1    56
2    78
3    23
4    34
dtype: int64

# Diccionarios en python

    Estructura que guarda datos en forma de objetos en llave - valor

In [11]:
miDiccionario={
    "nombre": "casa1",
    "area": "120",
    "baños": 3,
    "propietarios": [
        "paulo", "diana", "sanio"
        
    ], "barrio":{
        "nombre": "gran britalia",
        "localidad": "bosa"
        
    }
       
}
miDiccionario

{'nombre': 'casa1',
 'area': '120',
 'baños': 3,
 'propietarios': ['paulo', 'diana', 'sanio'],
 'barrio': {'nombre': 'gran britalia', 'localidad': 'bosa'}}

# Data frame

Estrutura de datos en formato tabla.

La forma "simple" de crear un dataframe es a partir de un diccionario, otra forma puede ser desde hojas de calculo, desde archivos JSON o desde archivos CSV ( valores separados por coma)

In [13]:
miDataframe= pd.Dataframe(('SI':[10,15],'NO':[50,68]))
miDataframe

SyntaxError: invalid syntax (432682693.py, line 1)